@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

/* ----------------------------------------Nav Bar */

.navbar-toggler {
    padding-right: 10%;
}

.navbar-toggler-icon {
    color: aquamarine;
}

/* ----------------------------------------Hero Image */

figure{
    background-color: black;
}


#herobox {
    background-image: url(assets/images/franciska_du_toit_homepage_image.jpg);
    opacity: 1;
}


.hero {
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

/* ----------------------------------------Personal Info */


.personal-info {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
}

.personal-info, h1{
    font-size: x-large;
}

.personal-info, p{
    font-weight: 200;
    font-size: large;
}

.bullet {
    align-items: flex-start;
    display: flex;
    padding-bottom: 20px;
}

.bullet-icon{
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border: 1px solid #bfbfbf;
    border-radius: 35px;
    background-color: #fff;
}

.bullet-text {
    color: #636363;
    font-size: 15px;
    font-weight: 300;
    padding-right: 30px;
}

/* ----------------------------------------Footer */

.footer{
    position: relative;
    background-color: rgb(245, 245, 245);
    text-align: center;
    letter-spacing: 1px;
    font-size: 5px;
    padding: 25px 40px 5px;
    margin: 50px -40px 0;
}

.footer-text {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.footer a {
    color: #222222;
}

.social-list{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.social-list > li {
    display: inline-block;
}


/* ----------------------------------------Media Queries */


@media only screen and (max-width: 768px) {
.hero {
    height: 50vh;
    position: relative;
    width: 100%;
}
}